html {
	font-family: monospace;
	background-color: lightgrey;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}

h1 {
	color: deeppink;
	width: 200;
	word-wrap: break-word;
	padding: 2vh;
	font-size: 35px;
}

p {
	font-size: 1.5rem;
	width: 200;
	word-wrap:
		break-word;
}

.button {
	font-family: monospace;
	display: inline-block;
	background-color:
		black;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 16px 40px;
	text-decoration: none;
	font-size: 30px;
	margin: 2px;
	cursor: pointer;
}

p.dotted {
	margin: auto;
	width: 75%;
	font-size: 25px;
	text-align: center;
}

/* START: Tabs */
.tabs {
	font-family: "lucida grande", sans-serif;
	text-align: initial;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

[role="tablist"] {
	min-width: 100%;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
	display: inline-block;
	position: relative;
	z-index: 2;
	top: 2px;
	margin: 0;
	margin-top: 4px;
	padding: 3px 3px 4px;
	border: 1px solid hsl(219deg 1% 72%);
	border-bottom: 2px solid hsl(219deg 1% 72%);
	border-radius: 5px 5px 0 0;
	background: hsl(220deg 20% 94%);
	outline: none;
	font-weight: bold;
	max-width: 22%;
	overflow: hidden;
	text-align: left;
	cursor: pointer;
}

[role="tab"][aria-selected="true"] {
	padding: 2px 2px 4px;
	margin-top: 0;
	border-width: 2px;
	border-top-width: 6px;
	border-top-color: rgb(36 116 214);
	border-bottom-color: hsl(220deg 43% 99%);
	background: hsl(220deg 43% 99%);
}

[role="tab"][aria-selected="false"] {
	border-bottom: 1px solid hsl(219deg 1% 72%);
}

[role="tab"] span.focus {
	display: inline-block;
	margin: 2px;
	padding: 4px 6px;
}

[role="tab"]:hover span.focus,
[role="tab"]:focus span.focus,
[role="tab"]:active span.focus {
	padding: 2px 4px;
	border: 2px solid rgb(36 116 214);
	border-radius: 3px;
}

[role="tabpanel"] {
	padding: 10px;
	border: 2px solid hsl(219deg 1% 72%);
	border-radius: 0 5px 5px;
	background: hsl(220deg 43% 99%);
	min-height: 10em;
	width: 100%;
	overflow: auto;
}

[role="tabpanel"].is-hidden {
	display: none;
}

[role="tabpanel"] p {
	margin: 0;
}

/* END: Tabs */

.form_div {
	text-align: center;
}

.form_div label {
	display: inline-block;
	min-width: 5em;
	padding-right: 1em;
	text-align: right;
}

.info_label {
	display: inline-block;
	min-width: 10em;
	padding-right: 1em;
	text-align: right;
}

.info_value {
	display: inline-block;
	min-width: 20em;
	text-align: left;
}

.remote {
	background-color: silver;
	width: 14em;
	margin-left: auto;
	margin-right: auto;
}

.remote button {
	margin: 1em;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	border: black 2px solid;
	font-weight: 800;
}

.remote .button_white {
	background-color: white;
}

.remote .button_red {
	background-color: red;
}

.remote .button_blue {
	background-color: blue;
}

.remote .button_none {
	display: inline-block
}

.remote:first-of-type {
	border-top-right-radius: 2em 2em;
	border-top-left-radius: 2em 2em;
}

.remote:last-of-type {
	border-bottom-right-radius: 2em 2em;
	border-bottom-left-radius: 2em 2em;
}

.remote .white_back {
	background-color: white;
	display: inline-block;
}

.remote_arrows_row_1 .white_back:nth-of-type(2) {
	border-top-right-radius: 50% 50%;
	border-top-left-radius: 50% 50%;
}

.remote_arrows_row_2 .white_back:first-of-type {
	border-top-left-radius: 50% 50%;
	border-bottom-left-radius: 50% 50%;
}

.remote_arrows_row_2 .white_back:last-of-type {
	border-top-right-radius: 50% 50%;
	border-bottom-right-radius: 50% 50%;
}

.remote_arrows_row_3 .white_back:nth-of-type(2) {
	border-bottom-right-radius: 50% 50%;
	border-bottom-left-radius: 50% 50%;
}